body { /* background color for webpage*/
    background-color: rgb(68, 67, 67)
}


/* color and style for the form font*/
form {
    color: rgb(0, 255, 115); /* Change to the color you prefer */
    font-style: italic;
}


h1 { /*for the "Gift List" header */
    color:rgb(0, 255, 115)
}

p { /* This is for the <p> tag*/
    color: gold;
}

/* CSS for the Occasion Date input */
.occasion-date-input {
    width: 150px; /* Adjust the width of the input box */
}

table { /* for the table bar font*/
    font-style: italic
}

